In [1]:
pwd

'C:\\Users\\Asus\\Tugas Intelegensi Buatan'

In [2]:
cd "d:/Tugas Intelegensi Buatan"

d:\Tugas Intelegensi Buatan

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
pd.read_csv("DataPenduduk.csv")

          Nama Kab/Kota        KK  Jumlah Penduduk            Unnamed: 4
0                                               Lk        Pr       Total
1       Lampung Selatan   320.799          535.723   509.939   1.045.662
2        Lampung Tengah   467.358          760.129   719.275   1.479.404
3         Lampung Utara   197.820          317.647   304.165     621.812
4         Lampung Barat    88.999          159.061   146.911     305.972
5         Tulang Bawang   136.116          220.381   205.350     425.731
6             Tanggamus   176.992          336.402   312.554     648.956
7         Lampung Timur   364.979          575.614   550.060   1.125.674
8             Way Kanan   143.231          245.450   232.318     477.768
9             Pesawaran   150.110          244.377   228.384     472.761
10            Pringsewu   126.091          208.957   195.451     404.408
11               Mesuji    77.170          119.080   111.293     230.373
12  Tulang Bawang Barat   101.153          141.939   134.472     276.411
13        Pesisir Barat    46.619           84.048    76.820     160.868
14       Bandar Lampung   346.719          605.710   580.033   1.185.743
15                Metro    51.331           86.189    84.663     170.852

In [5]:
data = pd.read_csv("DataPenduduk.csv")

In [6]:
data.head()

     Nama Kab/Kota        KK  Jumlah Penduduk            Unnamed: 4
0                                          Lk        Pr       Total
1  Lampung Selatan   320.799          535.723   509.939   1.045.662
2   Lampung Tengah   467.358          760.129   719.275   1.479.404
3    Lampung Utara   197.820          317.647   304.165     621.812
4    Lampung Barat    88.999          159.061   146.911     305.972

In [7]:
data.tail()

          Nama Kab/Kota        KK  Jumlah Penduduk            Unnamed: 4
11               Mesuji    77.170          119.080   111.293     230.373
12  Tulang Bawang Barat   101.153          141.939   134.472     276.411
13        Pesisir Barat    46.619           84.048    76.820     160.868
14       Bandar Lampung   346.719          605.710   580.033   1.185.743
15                Metro    51.331           86.189    84.663     170.852

In [8]:
x = data.iloc[:,0:4]
y = data.iloc[:,5]

IndexError: single positional indexer is out-of-bounds

In [9]:
data

          Nama Kab/Kota        KK  Jumlah Penduduk            Unnamed: 4
0                                               Lk        Pr       Total
1       Lampung Selatan   320.799          535.723   509.939   1.045.662
2        Lampung Tengah   467.358          760.129   719.275   1.479.404
3         Lampung Utara   197.820          317.647   304.165     621.812
4         Lampung Barat    88.999          159.061   146.911     305.972
5         Tulang Bawang   136.116          220.381   205.350     425.731
6             Tanggamus   176.992          336.402   312.554     648.956
7         Lampung Timur   364.979          575.614   550.060   1.125.674
8             Way Kanan   143.231          245.450   232.318     477.768
9             Pesawaran   150.110          244.377   228.384     472.761
10            Pringsewu   126.091          208.957   195.451     404.408
11               Mesuji    77.170          119.080   111.293     230.373
12  Tulang Bawang Barat   101.153          141.939   134.472     276.411
13        Pesisir Barat    46.619           84.048    76.820     160.868
14       Bandar Lampung   346.719          605.710   580.033   1.185.743
15                Metro    51.331           86.189    84.663     170.852

The history saving thread hit an unexpected error (OperationalError('database or disk is full')).History will not be written to the database.

In [10]:
x = data.iloc[:,0:4]

In [11]:
x

          Nama Kab/Kota        KK  Jumlah Penduduk
0                                               Lk        Pr
1       Lampung Selatan   320.799          535.723   509.939
2        Lampung Tengah   467.358          760.129   719.275
3         Lampung Utara   197.820          317.647   304.165
4         Lampung Barat    88.999          159.061   146.911
5         Tulang Bawang   136.116          220.381   205.350
6             Tanggamus   176.992          336.402   312.554
7         Lampung Timur   364.979          575.614   550.060
8             Way Kanan   143.231          245.450   232.318
9             Pesawaran   150.110          244.377   228.384
10            Pringsewu   126.091          208.957   195.451
11               Mesuji    77.170          119.080   111.293
12  Tulang Bawang Barat   101.153          141.939   134.472
13        Pesisir Barat    46.619           84.048    76.820
14       Bandar Lampung   346.719          605.710   580.033
15                Metro    51.331           86.189    84.663

In [12]:
y = data.iloc[0:5,5]

IndexError: single positional indexer is out-of-bounds

In [13]:
y = data.iloc[0:5,4]

In [14]:
y

0         Total
1     1.045.662
2     1.479.404
3       621.812
4       305.972
Name: Unnamed: 4, dtype: object

In [15]:
y = data.iloc[0:5,1]

In [16]:
y

0
1     320.799
2     467.358
3     197.820
4      88.999
Name:  KK, dtype: object

In [17]:
y = data.iloc[0:5,3]

In [18]:
y

0          Pr
1     509.939
2     719.275
3     304.165
4     146.911
Name:  , dtype: object

In [19]:
y = data.iloc[0:5,2]

In [20]:
y

0          Lk
1     535.723
2     760.129
3     317.647
4     159.061
Name:  Jumlah Penduduk, dtype: object

In [21]:
y = data.iloc[0:5,0]

In [22]:
y

0
1    Lampung Selatan
2     Lampung Tengah
3      Lampung Utara
4      Lampung Barat
Name: Nama Kab/Kota, dtype: object

In [23]:
y = data.iloc[-1:5, 1]

In [24]:
y

Series([], Name:  KK, dtype: object)